<%= render 'layouts/page_title', title: "#{@user.first_name} #{@user.last_name}" %>

<div class="row">
  <div class="col-md-4">
    <%= image_tag(@user.picture.url, size: "300", class: "gravatar") if @user.picture? %>
  </div>
  <div class="col-md-5">
    <h2 class="left"><%= @user.headline %></h2>
    <strong><%= @user.location %></strong>
    <ul class="list">
      <% @user.available_appointments.each do |appt| %>
        <li><%= link_to "#{appt.start_time.strftime("%m/%d/%y %I:%M %p")}", reserve_path(appt), class: 'btn btn-small btn-success' %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <%= link_to "New open hours", new_appointment_path, class: "btn btn-success btn-small" %>
    <%= link_to "Edit profile", edit_user_path(@user.id), class: "btn btn-warning btn-small" %>
  </div>
</div>

<div class="row links">
  <div class="col-md-3">
    <ul class= "list">
      <li>
        <%= link_to '<i class="fa fa-github-alt fa-3x"></i>'.html_safe, @user.github unless (@user.github.nil? || @user.github.empty?) %>
      </li>
      <li>
        <%= link_to '<i class="fa fa-linkedin fa-3x"></i>'.html_safe, @user.linkedin unless (@user.linkedin.nil? || @user.linkedin.empty?) %>
      </li>
    </ul>
  </div>
</div>
